/*CUSTOM*/

/*button*/

.ghost-btn-fill {
    /*display: block;*/
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 20px;
    z-index: 1;
    border: 3px solid rgba(38, 200, 200, 1);
    border-radius: 6px;
}

.ghost-btn-fill:hover {
    color: #fff;
    background-color: rgba(38, 200, 200, 1);
    text-decoration: none;
}

.ghost-btn-fill:focus {
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}



.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.well.descrip {
    margin: 20px;
    background: rgba(38, 200, 200, 1);
    color: #fff;
}

#projects {
    margin: 0;
    color: white;
}

#projects h1 {
    border-bottom: 2px solid rgba(38, 200, 200, 1);
    padding:20px;
}



.project {
    display: inline-block;
    padding: 10px;
    /*padding-left: 0 !important;
    padding-right: 0 !important;*/
} 


#project-header {
    margin-bottom: 20px;
}

.stick {
  position:fixed;
  top:0px;
  width: 100%;
  z-index: 1;
}

.link {
    font-weight: 700;
    color: #fff;
}

.link:hover {
    border-bottom: 2px solid rgba(38, 200, 200, 1);
    text-decoration: none;
    color: #fff;
}


#signup {
    color: #000;
}

.typist {
    padding-top: 10%;
    color: #fff;
    font-family: 'PT Mono', 'Open Sans';
}

.bg {
  animation: pulse 5s;
  background: url("../img/fathom-background.png");
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#typist {
    margin: 0 auto;
}


footer {
  padding: 20px 0;
}

header {
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 10px;
    background-color: black;
    opacity: 0;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -o-transition:  all 1000ms ease;
    transition: all 1000ms ease;

    .link:hover {
      background: black;
      padding-bottom: 0px;
    }

}


.min{
   opacity: 1;
   height: 50px;
  -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -o-transition:  all 1000ms ease;
    transition: all 1000ms ease;
}

