<div ng-include="'views/partials/nav.html'" class="animate-show"></div>

<form action="contact.php" method="post" id="formID">
    <div class="signup-sticky">
        <span class="input input--madoka inputM00">
            <input class="input__field input__field--madoka" type="text" id="input-31" name="first_name" autocomplete="off" required = "true" />
            <label class="input__label input__label--madoka" for="input-31">
                <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                    <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                </svg>
                <span class="input__label-content input__label-content--madoka">Name</span>
            </label>
        </span>
        <span class="input input--madoka inputM01">
            <input class="input__field input__field--madoka" type="email" id="input-32" name="email" autocomplete="off" required = "true" />
            <label class="input__label input__label--madoka" for="input-32">
                <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                    <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                </svg>
                <span class="input__label-content input__label-content--madoka">Email</span>
            </label>
        </span>
        <span class="input input--madoka inputM01">
        <input type="submit" value="SIGN UP" name="submit" class="ghost-btn-fill-signup" /> 
</form>

<div ng-include="'views/partials/footer.html'"></div>