/*
 * media query sizes based on bootstrap
 * CSS:
 * @media screen and (max-width: $screen-sm-max) {
 *    display: none;
 * }
 * 
 */
$screen-xs-min: 480px;
$screen-xs-max: 479px;
$screen-sm-min: 768px;
$screen-sm-max: 767px;
$screen-md-min: 992px;
$screen-md-max: 991px;
$screen-lg-min: 1200px;
$screen-lg-max: 1199px;



/**
 * colors
 * 
 */





/**
 * size variables
 */

$font-1x: 14px;
$font-2x: 22.65px;
$font-3x: 36.65px;
$font-4x: 59.29px;
