/*
 * media query sizes based on bootstrap
 * CSS:
 * @media screen and (max-width: $screen-sm-max) {
 *    display: none;
 * }
 * 
 */
$screen-xs-min: 480px;
$screen-xs-max: 479px;
$screen-sm-min: 768px;
$screen-sm-max: 767px;
$screen-md-min: 992px;
$screen-md-max: 991px;
$screen-lg-min: 1200px;
$screen-lg-max: 1199px;



/**
 * colors
 * 
 */

$main-text: #FFF;
$alt-text: #636466;
$fathom-green: rgba(38, 200, 200, 1);




/**
 * size variables
 */

$font-1x: 16px;
$font-2x: 25px;
$font-3x: 38px;
$font-4x: 60px;
