.content-section-signup {
    
    padding-top: 5%;
    color: white;

    #mc_embed_signup{
        background:black; 
        color: white;
        clear:left; 
        font-size:14px; 
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

        .mc-field-group {
          width: 100%;
        }

        form input {
            background: black;            
            outline: none;
            border: none;
            border-bottom:1px solid rgba(38, 200, 200, 1);
            border-radius: 0px;
        }

        form input:focus {
            outline: none;
        }

        // https://scotch.io/tutorials/google-material-design-input-boxes-in-css3
        .bar  { position:relative; display:block;  }

        .bar:before, .bar:after   {
          content:'';
          height:2px; 
          width:0;
          bottom:1px; 
          position:absolute;
          background:rgba(38, 200, 200, 1);
          transition:0.2s ease all; 
        }
        .bar:before {
          left:50%;
        }
        .bar:after {
          right:50%; 
        }

        /* active state */
        input:focus ~ .bar:before, input:focus ~ .bar:after {
          width:50%;
        }


        #mc-embedded-subscribe {
          margin: 1em auto;
        }

    }


    

}